# Hey Emacs, this is -*-yaml-*-
BasedOnStyle: LLVM
IndentWidth: 8
ColumnLimit: 0
DerivePointerAlignment: false
# https://stackoverflow.com/questions/38392889/clang-format-align-asterisk-of-pointer-declaration-with-variable-name
PointerAlignment: Right
ReflowComments: true
SpacesBeforeTrailingComments: 4
AlignTrailingComments: true
AlignAfterOpenBracket: Align
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlines: true
AlignOperands: true
UseTab: ForIndentation
BreakBeforeBraces: Linux
Cpp11BracedListStyle: false
AllowShortIfStatementsOnASingleLine: false
IndentCaseLabels: false
