Source: nemesis
Section: net
Priority: optional
Maintainer: Joachim Nilsson <troglobit@gmail.com>
Build-Depends: debhelper (>= 10), libnet1-dev (>= 1.1.6)
Standards-Version: 4.3.0
Homepage: http://troglobit.com/projects/nemesis/
Vcs-Git: git://github.com/libnet/nemesis.git
Vcs-Browser: http://github.com/libnet/nemesis

Package: nemesis
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}
Description: TCP/IP Packet Injection Suite
 The Nemesis Project is designed to be a commandline-based, portable
 human IP stack for UNIX/Linux.  The suite is broken down by protocol
 and should allow for useful scripting of injected packet streams from
 simple shell scripts.
 .
 Key features:
  * support for ARP, DHCP, DNS, ICMP, IGMP, OSPF, RIP, TCP, UDP
  * layer 2 or layer 3 injection
  * packet payload from file
