#!/usr/bin/make -f
# Sample debian/rules that uses debhelper.
# GNU copyright 1997 to 1999 by Joey Hess.

# Uncomment this to turn on verbose mode.
#export DH_VERBOSE=1

# This is the debhelper compatability version to use.
#export DH_COMPAT=2
configure: configure-stamp
configure-stamp: patch
	dh_testdir
	cp /usr/share/misc/config.guess .
	cp /usr/share/misc/config.sub .
	autoreconf --force --install
	CFLAGS=-g ./configure --prefix=/usr --mandir=\$${prefix}/share/man --infodir=\$${prefix}/share/info
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	$(MAKE)
	touch build-stamp

clean: unpatch
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	rm -f config.sub config.guess
	# Add here commands to clean up after the build process.
#	-$(MAKE) distclean
	[ ! -f Makefile ] || $(MAKE) distclean
	dh_clean
	rm -f aclocal.m4 config.h.in configure
patch: patch-stamp
patch-stamp:
	dpatch apply-all
	touch build-stamp

unpatch:
	dpatch deapply-all
	rm -rf patch-stamp debian/patched


install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs
	$(MAKE) DESTDIR=`pwd`/debian/nemesis install

# Build architecture-independent files here.
binary-indep: build install
# We have nothing to do by default.

# Build architecture-dependent files here.
binary-arch: build install
	dh_testdir
	dh_testroot
	dh_installdocs
	dh_installmanpages
	dh_installchangelogs ChangeLog
	dh_link
	dh_strip
	dh_compress
	dh_fixperms
	dh_installdeb
	dh_shlibdeps
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
